h1 {
   font-family: sans-serif;
   color: #30a097;
}

h2 {
   font-family: sans-serif;
   color: #30a097;
}

h3 {
   font-family: sans-serif;
   color: #30a097;
}

.hidden {
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}

.lcvisibilitytoggle {
   font-family: sans-serif;
   font-size: 12px;
   background: #30a097;
   padding: 2px;
   color: #ffffff;
   text-decoration: none;
}

.lcselecttoggle {
   font-family: sans-serif;
   font-size: 12px;
   background: #30a097;
   padding: 2px;
   color: #ffffff;
   text-decoration: none;
}

.lcsorttablehead {
   font-family: sans-serif;
   background: #30a097;
   padding: 2px;
   color: #ffffff;
}

.lcsorttablebody {
   font-family: sans-serif;
   background: #cccccc;
   padding: 2px;
   color: #000000;
}

.lcfileuploadlabel {
   background: #cccccc;
   font-family: sans-serif;
   font-size: 16px;
   color: #000000;
   padding: 6px;
   border-radius: 3px 3px 3px 3px;
   border-color: #000000;
   border-style: dashed;
   border-width: 1px;
}

.lcinnerfileupload {
   visibility: hidden;
}

.lcformtrigger {
   font-family: sans-serif;
   font-size: 14px;
   color: #ffffff;
   background: #30a097;
   border-radius: 3px 3px 3px 3px;
   box-shadow: 2px 2px 3px #111111;
   z-index: 999;
}

.lcformcancel {
   font-family: sans-serif;
   font-size: 14px;
   color: #ffffff;
   background: #888888;
   border-radius: 3px 3px 3px 3px;
   box-shadow: 2px 2px 3px #111111;
   z-index: 998;
}

.lcformtrigger a {
   padding: 6px;
   text-decoration: none;
   color: #ffffff;
}

.lcformcancel a {
   padding: 6px;
   text-decoration: none;
   color: #ffffff;
}


.lcformtabledescription {
   font-family: sans-serif;
   color: #000000;
}

.lcformusernameinput {
   font-family: monospace;
   color: #000000;
}

.lcformpasswordinput {
   font-family: monospace;
   color: #000000;
}

.lcstandard {
   font-family: sans-serif;
   color: #000000;
}

.lcerror {
   font-family: sans-serif;
   color: #ff9911;
   display:none;
}

.lcproblem {   
   font-family: sans-serif;
   color: #30a097;
   display:none;
}

.lcsuccess {
   font-family: sans-serif;
   color: #99cc00;
   display:none;
}

textarea.math {
   font-family: monospace;
   height: 3em;
   width: 100%;
}

span.maxima-error {
   border: solid 1px red;
   min-width: 1px;
}

div.eqnbox { margin: 1em }
textarea.maxima { font-family: monospace; height: 3em; width: 100%; }
span.maxima-error { border: solid 1px red; min-width: 1px; }

